---
layout: base.njk
permalink: "{{ title | slugify }}/index.html"
---

<div class="content post border-solid border-b-1 border-gray-700 pb-6">
  	<h1>{{ title }}</h1>
  	{% if subtitle %}
        <h2 class="italic">{{ subtitle }}</h2>
    {% endif %}
  	<div class="mb-12 flex text-sm font-light dark:font-extralight">
		<div class="flex">
        	{{ date | readableDate }}
		</div>
		<div class="flex readingtime" data-words="{{ content | striptags | wordcount | formatWords }} words">
        	{{ content | striptags | wordcount | readingTime }}
			<span></span>
		</div>
	</div>
	{% if image %}
	<img src="{{ image }}" alt="{{ imageAlt }}" />
	{% endif %}
  	{{ content | safe }}
  	<!-- {% include "social.njk" %} -->
	<div class="block w-full h-1 border-solid border-b-1 border-gray-700"></div>
	<div class="additions flex flex-col sm:flex-row gap-3 mt-6 px-4 w-full">	
		{% set previousPost = collections.posts | getPreviousCollectionItem(page) %}	
		{% set nextPost = collections.posts | getNextCollectionItem(page) %}	
	  	<a href="{{ previousPost.url }}" class="flex-1">	
			<div class="h-24 border-1 border-gray-700 leading-pagination text-center{% if previousPost.url %} hover:bg-indigo-900 dark:hover:bg-indigo-900 hover:text-gray-200 dark:hover:text-gray-200 cursor-pointer{% else %} cursor-not-allowed{% endif %}">	
				<span class="text-xs block mt-1 mb-3">Older</span>	
				<span class="text-xl">{% if not previousPost.url %} - {% else %}{{ previousPost.data.title | truncate(40) }}{% endif %}</span>	
			</div>	
		</a>	
	  	<a href="{{ nextPost.url }}" class="flex-1">	
		  	<div class="h-24 border-1 border-gray-700 leading-pagination text-center{% if nextPost.url %} hover:bg-indigo-900 dark:hover:bg-indigo-900 hover:text-gray-200 dark:hover:text-gray-200 cursor-pointer{% else %} cursor-not-allowed{% endif %} overflow-auto">	
				<span class="text-xs block mt-1 mb-3">Newer</span>	
				<span class="text-xl">{% if not nextPost.url %} - {% else %}{{ nextPost.data.title | truncate(40) }}{% endif %}</span>	
			</div>	
		</a>	
	</div>
        <section>
           <h2>Comments</h2>
           {% include 'webmentions.njk' %}
        </section>
	{% set relatedPosts = related %}	
	{% if relatedPosts %}
	<div class="block w-full h-1 border-solid border-b-1 border-gray-700"></div>
	<span class="content text-gray-800 dark:text-gray-400">Related</span>	
	<div class="content additions flex mt-6 border-solid border-b-1 border-gray-700 mr-8 lg:mr-24">	
	  	{% for post in relatedPosts %}	
	  	<a href="{{ post.url }}"  class="flex-1">	
		  	<div class="h-24 m-1 border-1 border-gray-700 leading-pagination text-center hover:bg-indigo-900 hover:text-gray-200 rounded">	
			  	<span class="text-xs block mt-1 mb-3">Recommended</span>	
				<span class="text-xl">{{ post.title }}</span>	
			</div>	
		</a>	
	  	{% endfor %}
	</div>
	{% endif %}
</div>
