---
eleventyExcludeFromCollections: true
layout: base.njk
title: Bookmarks
meta:
  robots:
    value: noindex
---
<div class="postlist pb-8 mt-8 font-light dark:font-extralight pt-4" id="rss-feed">
  {% if rssData %}
    {% set xmlData = rssData %}
    <!-- Your code to parse and display the XML data here -->
    {# Add your code to parse the XML data and display the RSS feed #}
  {% else %}
    <p>No RSS data available.</p>
  {% endif %}
</div>

