{%- css %}.postlist { counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }} }{% endcss %}
<ol reversed class="postlist">
{% for post in postslist | reverse %}
    {% set webmentionUrl = post.url | url | absoluteUrl(site.url) %}
    {% set webmentionUrlTrimmed = webmentionUrl | trim %}
    {% set mentions = webmentions | getWebmentionsForUrl('https://tomcasavant.com' + webmentionUrlTrimmed) %}
    {% set reposts = mentions | webmentionsByType('repost-of') %}
    {% set repostsSize = reposts | size %}
    {% set likes = mentions | webmentionsByType('like-of') %}
    {% set likesSize = likes | size %}
    {% set replies = mentions | webmentionsByType('in-reply-to') %}
    {% set repliesSize = replies | size %}

    <li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
        <a href="{{ post.url }}" class="postlist-link">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
        <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("LLLL yyyy") }}</time>
        <p class="postlist-subtitle">{{ post.data.subtitle }}</p>
		<div class="postlist-webmentions">
		    <div class="webmention-item">
		        <svg class="heart-icon" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
		            <path fill-rule="evenodd" clip-rule="evenodd" d="M12 6.00019C10.2006 3.90317 7.19377 3.2551 4.93923 5.17534C2.68468 7.09558 2.36727 10.3061 4.13778 12.5772C5.60984 14.4654 10.0648 18.4479 11.5249 19.7369C11.6882 19.8811 11.7699 19.9532 11.8652 19.9815C11.9483 20.0062 12.0393 20.0062 12.1225 19.9815C12.2178 19.9532 12.2994 19.8811 12.4628 19.7369C13.9229 18.4479 18.3778 14.4654 19.8499 12.5772C21.6204 10.3061 21.3417 7.07538 19.0484 5.17534C16.7551 3.2753 13.7994 3.90317 12 6.00019Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
		        </svg>
		       <p class="webmention-count">  {{ likesSize }} </p>
		    </div>
		    <div class="webmention-item">
		        <svg width="16" height="16" viewBox="0 0 24 24" id="retweet-round" data-name="Flat Line" xmlns="http://www.w3.org/2000/svg" class="icon flat-line">
		            <path id="primary" d="M18.46,7.11A6,6,0,0,1,15,18H10" style="fill: None; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;"></path>
		            <path id="primary-2" data-name="primary" d="M5.54,16.89A6,6,0,0,1,9,6h5" style="fill: None; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;"></path>
		            <polyline id="primary-3" data-name="primary" points="12 20 10 18 12 16" style="fill: None; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;"></polyline>
		            <polyline id="primary-4" data-name="primary" points="12 4 14 6 12 8" style="fill: None; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;"></polyline>
		        </svg>
		       <p class="webmention-count">  {{ repostsSize }} </p>
		    </div>
		    <div class="webmention-item">
		        <svg width="16" height="16" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" id="conversation" class="icon glyph">
		            <path d="M18.82,8c-.8-3.46-4.3-6-8.32-6C5.81,2,2,5.36,2,9.5a6.82,6.82,0,0,0,1.06,3.63l-1,3.6a1,1,0,0,0,.3,1A1,1,0,0,0,3,18a1,1,0,0,0,.39-.08l3.66-1.56A9.6,9.6,0,0,0,10.5,17c4.69,0,8.5-3.36,8.5-7.5A6.27,6.27,0,0,0,18.82,8Z"></path>
		            <path d="M21,22a1,1,0,0,1-.39-.08L17,20.36A9.6,9.6,0,0,1,13.5,21a8.44,8.44,0,0,1-8-5.1A1,1,0,0,1,6,14.61a1,1,0,0,1,1.29.58A6.44,6.44,0,0,0,13.5,19a7.55,7.55,0,0,0,3.05-.64,1,1,0,0,1,.8,0l2.11.9-.57-2a1,1,0,0,1,.15-.86,4.83,4.83,0,0,0,1-2.87,5.31,5.31,0,0,0-2.68-4.44,1,1,0,0,1,1.06-1.7A7.28,7.28,0,0,1,22,13.5a6.82,6.82,0,0,1-1.06,3.63l1,3.6a1,1,0,0,1-.3,1A1,1,0,0,1,21,22Z"></path>
		        </svg>
		        <p class="webmention-count"> {{ repliesSize }} </p>
		    </div>
		</div>

    </li>
{% endfor %}
</ol>
