<ol reversed class="postlist">

{% for item in bookmarks.bookmarks %}
	<div class="bookmark">
		<h4 class="bookmark-title"> [{{item.title}}]({{item.link}}) </h4>
		<p class="bookmark-summary"> {{item.summary}} </p>
	</div>
{% endfor %}
</ol>

