---
# Metadata comes from _data/metadata.js
permalink: /feeds/food.xml
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:base="{{ metadata.language }}">
	<title>{{ metadata.title }}</title>
	<subtitle>{{ metadata.description }}</subtitle>
	<link href="{{ permalink | htmlBaseUrl(metadata.url) }}" rel="self"/>
	<link href="{{ metadata.url | addPathPrefixToFullUrl }}"/>

	<id>{{ metadata.url }}</id>
	<author>
		<name>{{ metadata.author.name }}</name>
		<email>{{ metadata.author.email }}</email>
	</author>
    
    {%- for image in collections.foodImages %}
        {% set relativeImagePath = '../food/' + image.file %}
        {% set imageSlug = image.file | splitPath | slug %}
        {% set absoluteImageUrl = metadata.url + 'food/' + imageSlug %}
        <entry>
            <title>{{ image.caption }}</title>
            <link href="{{ absoluteImageUrl }}"/>
            <updated>{{ image.date }}</updated>
            <id>{{ absoluteImageUrl }}</id>
            <content type="html"><![CDATA[{% img relativeImagePath, image.caption %}]]></content>
        </entry>
    {%- endfor %}
</feed>