---
# Metadata comes from _data/metadata.js
permalink: /blog.rss
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:source="http://www.w3.org/2005/Atom">
    <channel>
        <title>{{ metadata.title }}</title>
        <description>{{ metadata.description }}</description>
        <link>{{ metadata.url }}</link>
        <lastBuildDate>{{ collections.posts | getNewestCollectionItemDate | dateToRfc822 }}</lastBuildDate>
        <language>{{ metadata.language }}</language>
        <managingEditor>{{ metadata.author.email }} ({{ metadata.author.name }})</managingEditor>
        <webMaster>{{ metadata.author.email }} ({{ metadata.author.name }})</webMaster>
        <generator>Eleventy</generator>

        {%- for post in collections.posts | reverse %}
        {% set absolutePostUrl = post.url | htmlBaseUrl(metadata.url) %}
        <item>
            <title>{{ post.data.title }}</title>
            <link>{{ absolutePostUrl }}</link>
            <guid isPermaLink="true">{{ absolutePostUrl }}</guid>
            <pubDate>{{ post.date | dateToRfc822 }}</pubDate>
            <description><![CDATA[{{ post.templateContent | transformWithHtmlBase(absolutePostUrl, post.url) }}]]></description>
        </item>
        {%- endfor %}
    </channel>
</rss>
