---
layout: default
---
<article class="post">

  <header class="post-header">
<link rel="icon" type="image/jpg" href="https://media.githubusercontent.com/media/TomCasavant/tomcasavant.github.io/master/media/TomFace.png?raw=true">
  <!--  <h1 class="post-title">{{ page.title }}</h1>-->
  </header>

  {%if page.tagline%}
  <div class="tagline">
  <span class="page-title">{{page.title}}</span> <span class="page-tagline"><em>{{page.tagline}}</em></span>
  </div>
  {% endif %}

  <div class="post-content">
    {{ content }}
  </div>

</article>
