---
layout: layouts/base.njk
permalink: "{{ title | slugify }}/"
ogImage: "/img/opengraph/opengraph.png"
---

{% block content %}
<h1>{{ title }}</h1>

<ul class="post-metadata">
    <li><time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time></li>
    {%- for tag in tags | filterTagList %}
    {%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
    <li><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>{%- if not loop.last %}, {% endif %}</li>
    {%- endfor %}
</ul>

{{ content | safe }}

{% endblock %}

{% block head %}
    <!-- OpenGraph Meta Tags -->
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description | default('Default description if not set in front matter') }}">
    <meta property="og:image" content="{{ ogImage | absoluteUrl(site.url) }}">
    <meta property="og:url" content="{{ page.url | absoluteUrl(site.url) }}">
    <meta property="og:type" content="article">
    <meta property="og:site_name" content="{{ site.title }}">
{% endblock %}
